.light_theme {
  --navDefaultAColor: #fff;//默认连接颜色
  --navHoverAColor: rgba(255, 255, 255, .8);//默认连接颜色
  --navActiveAColor: #7fe7fd;//默认连接颜色
}
.iconfont {
  width: 30px;
  height: 30px;
  vertical-align: -10px;
  fill: currentColor;
  overflow: hidden;
}